<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AdminBasicMapper">

    <sql id="criteriaCss">
        <if test="searchType != null and searchKeyword != null">
            <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='T'.toString()">
                                (CSS_NM LIKE CONCAT('%',#{searchKeyword},'%'))
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <sql id="criteriaPopup">
        <if test="startDate != null and startDate != ''">
            <![CDATA[ AND START_DATE >= #{startDate}]]>
        </if>
        <if test="endDate!= null and endDate != ''">
            <![CDATA[ AND END_DATE <= #{endDate}]]>
        </if>
        <if test="searchType != null and searchKeyword != null">
            <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='N'.toString()">
                                (POP_SUBJECT LIKE CONCAT('%',#{searchKeyword},'%'))
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <sql id="criteriaBanner">
        <if test="startDate != null and startDate != ''">
            <![CDATA[ AND START_DATE >= #{startDate}]]>
        </if>
        <if test="endDate!= null and endDate != ''">
            <![CDATA[ AND END_DATE <= #{endDate}]]>
        </if>
        <if test="searchType != null and searchKeyword != null">
            <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='N'.toString()">
                                (BNR_SUBJECT LIKE CONCAT('%',#{searchKeyword},'%'))
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <insert id="insertMenuTree" parameterType="MenuTree">
        INSERT INTO menu_tree
            (
                IDX,
                PARENT_IDX,
                LVL,
                NAME,
                LINK,
                CREATE_IDX,
                CREATE_DATE,
                USE_YN
            )
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (
                #{item.idx},
                #{item.parentIdx},
                #{item.lvl},
                #{item.name},
                #{item.link},
                #{item.userIdx},
                SYSDATE(),
                #{item.useYn}
            )
        </foreach>

    </insert>


    <select id="findAllMenuTree" resultType="MenuTree">
        SELECT IDX,
               PARENT_IDX,
               NAME,
               LVL,
               LINK,
               CREATE_IDX,
               CREATE_DATE,
               USE_YN
        FROM MENU_TREE
        ORDER BY IDX
    </select>


    <delete id="deleteMenuTree">

        DELETE FROM menu_tree
        WHERE EXISTS (
                      SELECT 1
                      FROM menu_tree
                  )
    </delete>

    <select id="findAllCssContent" resultType="CustomMap" parameterType="Criteria">
        SELECT A.IDX,
               A.CSS_FIRST_ID,
               A.CSS_SECOND_ID,
               A.CSS_NM,
               A.USE_YN,
               IFNULL(B.USER_NICKNM,'탈퇴된 관리자')AS CREATE_NICKNM,
               A.CREATE_IDX,
               A.CREATE_DATE,
               IF(A.UPDATE_IDX IS NULL , NULL, IFNULL(C.USER_NICKNM,'탈퇴된 관리자')) AS UPDATE_NICKNM,
               A.UPDATE_IDX,
               A.UPDATE_DATE
          FROM css A
          LEFT JOIN users B ON A.CREATE_IDX = B.IDX
          LEFT JOIN users C ON A.UPDATE_IDX = C.IDX
         WHERE 1 = 1
        <include refid="criteriaCss"/>

    </select>

    <select id="findByIdxCssContent" parameterType="int" resultType="Css">
        SELECT IDX,
               CSS_FIRST_ID,
               CSS_SECOND_ID,
               CSS_NM,
               CSS_CODE,
               USE_YN,
               CREATE_IDX,
               CREATE_DATE,
               UPDATE_IDX,
               UPDATE_DATE
          FROM css
         WHERE IDX = #{idx}
    </select>

    <insert id="insertCssContent" parameterType="map">
        INSERT INTO css
            (
                CSS_FIRST_ID,
                CSS_SECOND_ID,
                CSS_NM,
                CSS_CODE,
                USE_YN,
                CREATE_IDX,
                CREATE_DATE
            )
        VALUES
            (
                #{cssFirstId},
                #{cssSecondId},
                #{cssNm},
                #{cssCode},
                #{useYn},
                #{userIdx},
                SYSDATE()
            )
    </insert>

    <update id="updateCssContent" parameterType="map">
        UPDATE css
           SET CSS_FIRST_ID = #{cssFirstId},
               CSS_SECOND_ID = #{cssSecondId},
               CSS_NM = #{cssNm},
               CSS_CODE = #{cssCode},
               USE_YN = #{useYn},
               UPDATE_IDX = #{userIdx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX =#{idx}
    </update>

    <delete id="deleteCssContent" parameterType="map">
        DELETE FROM css
         WHERE IDX=#{idx}
    </delete>

    <select id="findAllPopup" resultType="CustomMap" parameterType="Criteria">
        SELECT ROWNUM_TB.*
          FROM (
                    SELECT @ROWNUM:=@ROWNUM+1 AS RN,
                           IDX,
                           POP_SUBJECT,
                           WEB_ATTACH_FILE_IDX,
                           MOBILE_ATTACH_FILE_IDX,
                           POP_FIRST_ID,
                           POP_SECOND_ID,
                           START_DATE,
                           END_DATE,
                           USE_YN,
                           CREATE_IDX,
                           CREATE_DATE
                      FROM popup,
                           (SELECT @ROWNUM:=0) temp
                     WHERE 1=1
                      <include refid="criteriaPopup"/>
               ) AS ROWNUM_TB
         ORDER BY IDX desc
         LIMIT #{pageStart},#{amount}
    </select>

    <select id="findByIdxPopup" parameterType="int" resultType="Popup">
        SELECT IDX,
               POP_SUBJECT,
               WEB_ATTACH_FILE_IDX,
               MOBILE_ATTACH_FILE_IDX,
               POP_FIRST_ID,
               POP_SECOND_ID,
               START_DATE,
               END_DATE,
               USE_YN,
               CREATE_IDX,
               CREATE_DATE,
               UPDATE_IDX,
               UPDATE_DATE
          FROM popup
         WHERE IDX =#{idx}
    </select>

    <insert id="insertPopup" parameterType="Popup">
        INSERT INTO popup
            (
                POP_SUBJECT,
                WEB_ATTACH_FILE_IDX,
                MOBILE_ATTACH_FILE_IDX,
                POP_FIRST_ID,
                POP_SECOND_ID,
                START_DATE,
                END_DATE,
                CREATE_IDX,
                CREATE_DATE
            )
        VALUES
            (
                #{popSubject},
                #{webAttachFileIdx},
                #{mobileAttachFileIdx},
                #{popFirstId},
                #{popSecondId},
                #{startDate},
                #{endDate},
                #{createIdx},
                SYSDATE()
            )
    </insert>

    <update id="updatePopup" parameterType="Popup">
        UPDATE popup
           SET POP_SUBJECT = #{popSubject},
            <if test="webAttachFileIdx != null and webAttachFileIdx != ''">
               WEB_ATTACH_FILE_IDX =#{webAttachFileIdx},
            </if>
            <if test="mobileAttachFileIdx != null and mobileAttachFileIdx != ''">
                MOBILE_ATTACH_FILE_IDX =#{mobileAttachFileIdx},
            </if>
               POP_FIRST_ID =#{popFirstId},
               POP_SECOND_ID =#{popSecondId},
               START_DATE = #{startDate},
               END_DATE = #{endDate},
               USE_YN = #{useYn},
               UPDATE_IDX = #{updateIdx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}
    </update>

    <delete id="deletePopup" parameterType="map">
        DELETE FROM popup
         WHERE IDX =#{idx}
    </delete>

    <select id="findAllBanner" parameterType="Criteria" resultType="CustomMap">
        SELECT ROWNUM_TB.*
          FROM (
                    SELECT @ROWNUM:=@ROWNUM+1 AS RN,
                           IDX,
                           BNR_SUBJECT,
                           WEB_ATTACH_FILE_IDX,
                           MOBILE_ATTACH_FILE_IDX,
                           BNR_FIRST_ID,
                           BNR_SECOND_ID,
                           BNR_POSITION,
                           START_DATE,
                           END_DATE,
                           USE_YN,
                           CREATE_IDX,
                           CREATE_DATE
                      FROM banner,
                           (SELECT @ROWNUM:=0) temp
                     WHERE 1=1
                    <include refid="criteriaBanner"/>
               ) AS ROWNUM_TB
         ORDER BY IDX desc
         LIMIT #{pageStart},#{amount}
    </select>

    <select id="findByIdxBanner" resultType="Banner" parameterType="int">
        SELECT IDX,
               BNR_SUBJECT,
               WEB_ATTACH_FILE_IDX,
               MOBILE_ATTACH_FILE_IDX,
               BNR_FIRST_ID,
               BNR_SECOND_ID,
               BNR_POSITION,
               START_DATE,
               END_DATE,
               USE_YN,
               CREATE_IDX,
               CREATE_DATE,
               UPDATE_IDX,
               UPDATE_DATE
          FROM IDX = #{idx}
    </select>

    <insert id="insertBanner" parameterType="Banner">
        INSERT INTO banner
            (
                BNR_SUBJECT,
                WEB_ATTACH_FILE_IDX,
                MOBILE_ATTACH_FILE_IDX,
                BNR_FIRST_ID,
                BNR_SECOND_ID,
                BNR_POSITION,
                START_DATE,
                END_DATE,
                CREATE_IDX,
                CREATE_DATE
            )
        VALUES
            (
                #{bnrSubject},
                #{webAttachFileIdx},
                #{mobileAttachFileIdx},
                #{bnrFirstId},
                #{bnrSecondId},
                #{bnrPosition},
                #{startDate},
                #{endDate},
                #{createIdx},
                SYSDATE()
            )
    </insert>

    <update id="updateBanner" parameterType="Banner">
        UPDATE banner
           SET BNR_SUBJECT = #{bnrSubject},
               WEB_ATTACH_FILE_IDX = #{webAttachFileIdx},
               MOBILE_ATTACH_FILE_IDX = #{mobileAttachFileIdx},
               BNR_FIRST_ID = #{bnrFirstId},
               BNR_SECOND_ID = #{bnrSecondId},
               BNR_POSITION = #{bnrPosition},
               START_DATE = #{startDate},
               END_DATE = #{endDate},
               USE_YN = #{useYn},
               UPDATE_IDX = #{updateIdx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}
    </update>

    <delete id="deleteBanner" parameterType="map">
        DELETE FROM banner
         WHERE IDX=#{idx}
    </delete>
</mapper>