<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AdminMapper">

    <select id="findAllMenuTree" resultType="MenuTree">
        WITH RECURSIVE CTE AS
            (
                SELECT IDX,
                       PARENT_IDX,
                       NAME,
                       LVL,
                       SORT_ORDER,
                       WRITE_ID,
                       WRITE_DATE,
                       UPDATE_ID,
                       UPDATE_DATE,
                       OPEN_YN
                  FROM MENU_TREE
                 WHERE LVL = 1
                 UNION ALL
                SELECT IDX,
                       PARENT_IDX,
                       NAME,
                       LVL,
                       SORT_ORDER,
                       WRITE_ID,
                       WRITE_DATE,
                       UPDATE_ID,
                       UPDATE_DATE,
                       OPEN_YN
                  FROM MENU_TREE
                 WHERE IDX != PARENT_IDX
            )
        SELECT IDX,
               PARENT_IDX,
               NAME,
               LVL,
               SORT_ORDER,
               WRITE_ID,
               WRITE_DATE,
               UPDATE_ID,
               UPDATE_DATE,
               OPEN_YN
          FROM CTE
         ORDER BY PARENT_IDX, IDX
    </select>

    <insert id="insertMenuTree" parameterType="MenuTree">
        INSERT INTO menu_tree
            (
                 PARENT_IDX,
                 LVL,
                 NAME,
                 LINK,
                 SORT_ORDER,
                 WRITE_ID,
                 CREATE_DATE,
                 UPDATE_ID,
                 UPDATE_DATE,
                 DEL_YN,
                 OPEN_YN
             )
        VALUES
            (
                  #{parentIdx},
                  #{lvl},
                  #{name},
                  #{link},
                  #{sortOrder},
                  #{writeId},
                  SYSDATE(),
                  #{updateId},
                  SYSDATE(),
                 'N',
                 'Y'
             )

    </insert>
</mapper>