<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AdminSystemMapper">

    <sql id="criteriaCodeGroup">
        <if test="searchType != null and searchKeyword != null">
            <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='T'.toString()">
                                (CODE_GROUP_NM LIKE CONCAT('%',#{searchKeyword},'%'))
                            </when>
                            <when test="type=='I'.toString()">
                                (CODE_GROUP_ID LIKE CONCAT('%',#{searchKeyword},'%'))
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <select id="findAllCodeGroup" resultType="CustomMap" parameterType="Criteria">
        SELECT A.CODE_GROUP_ID,
               A.CODE_GROUP_NM,
               IFNULL(B.USER_NICKNM,'탈퇴된 관리자')AS CREATE_NICKNM,
               A.CREATE_IDX,
               A.CREATE_DATE,
               IF(A.UPDATE_IDX IS NULL , NULL, IFNULL(C.USER_NICKNM,'탈퇴된 관리자')) AS UPDATE_NICKNM,
               A.UPDATE_IDX,
               A.UPDATE_DATE
          FROM code_group A
          LEFT JOIN users B ON A.CREATE_IDX = B.IDX
          LEFT JOIN users C ON A.UPDATE_IDX = C.IDX
         WHERE 1 = 1
        <include refid="criteriaCodeGroup"/>
         ORDER BY A.CODE_GROUP_ID
    </select>

    <select id="findByCodeGroupIdCodeGroup" resultType="CodeGroup" parameterType="String">
        SELECT CODE_GROUP_ID,
               CODE_GROUP_NM,
               CREATE_IDX,
               CREATE_DATE,
               UPDATE_IDX,
               UPDATE_DATE
          FROM code_group
         WHERE CODE_GROUP_ID = #{codeGroupId}
    </select>

    <select id="findAllByCodeGroupIdCode" parameterType="String" resultType="Code">
        SELECT CODE_GROUP_ID,
               CODE,
               CODE_NM,
               CREATE_IDX,
               CREATE_DATE,
               UPDATE_IDX,
               UPDATE_DATE
          FROM code
         WHERE CODE_GROUP_ID = #{codeGroupId}
    </select>

    <insert id="insertCodeGroup" parameterType="map">
        INSERT INTO code_group
            (
                CODE_GROUP_ID,
                CODE_GROUP_NM,
                CREATE_IDX,
                CREATE_DATE
            )
        VALUES
            (
                #{codeGroupId},
                #{codeGroupNm},
                #{userIdx},
                SYSDATE()
            )
    </insert>

    <insert id="insertCode" parameterType="map">
        INSERT INTO code
            (
                CODE_GROUP_ID,
                CODE,
                CODE_NM,
                CREATE_IDX,
                CREATE_DATE
            )
        VALUES
            <foreach item="item" index="index" collection="codeList" separator=",">
            (
                #{codeGroupId},
                #{item.code},
                #{item.codeNm},
                #{userIdx},
                SYSDATE()
            )
            </foreach>
    </insert>

    <update id="updateCodeGroup" parameterType="map">
        UPDATE code_group
           SET CODE_GROUP_NM = #{codeGroupNm},
               UPDATE_IDX = #{userIdx},
               UPDATE_DATE = SYSDATE()
         WHERE CODE_GROUP_ID = #{codeGroupId}
    </update>

    <update id="updateCode" parameterType="map">
        <foreach item="item" index="index" collection="codeList" separator=",">
        UPDATE code
           SET CODE_NM = #{item.codeNm},
               UPDATE_IDX = #{userIdx},
               UPDATE_DATE = SYSDATE()
         WHERE CODE_GROUP_ID = #{item.codeGroupId}
           AND CODE = #{item.code}
        </foreach>
    </update>

    <select id="existsCodeGroupId" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM code_group
        WHERE CODE_GROUP_ID = #{codeGroupId}
    </select>


</mapper>