<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AdminMapper">

    <select id="findAllMenuTree" resultType="MenuTree">
        WITH RECURSIVE CTE AS
            (
                SELECT IDX,
                       PARENT_IDX,
                       NAME,
                       LVL,
                       CREATE_ID,
                       CREATE_DATE,
                       USE_YN
                  FROM MENU_TREE
                 WHERE LVL = 1
                 UNION ALL
                SELECT IDX,
                       PARENT_IDX,
                       NAME,
                       LVL,
                       CREATE_ID,
                       CREATE_DATE,
                       USE_YN
                  FROM MENU_TREE
                 WHERE IDX != PARENT_IDX
            )
        SELECT IDX,
               PARENT_IDX,
               NAME,
               LVL,
               CREATE_ID,
               CREATE_DATE,
               USE_YN
          FROM CTE
         ORDER BY PARENT_IDX, IDX
    </select>

    <insert id="insertMenuTree" parameterType="MenuTree">
        INSERT INTO menu_tree
            (
                 IDX,
                 PARENT_IDX,
                 LVL,
                 NAME,
                 LINK,
                 CREATE_ID,
                 CREATE_DATE,
                 USE_YN
             )
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (
                 #{item.idx},
                 #{item.parentIdx},
                 #{item.lvl},
                 #{item.name},
                 #{item.link},
                 #{item.writeId},
                 SYSDATE(),
                 #{item.useYn}
            )
        </foreach>

    </insert>

    <delete id="deleteMenuTree">

        DELETE FROM menu_tree
         WHERE EXISTS (
                           SELECT 1
                             FROM menu_tree
                      )
    </delete>

    <select id="findAllBoardMaster" resultType="CustomMap">
        SELECT A.IDX,
               A.board_ID,
               A.BOARD_NM,
               A.BOARD_DESC,
               A.BOARD_TYPE,
               A.FILE_ATTACH_YN,
               A.USE_YN,
               A.CREATE_ID,
               A.CREATE_DATE,
               A.UPDATE_ID,
               A.UPDATE_DATE,
               A.DELETE_YN,
               A.DELETE_DATE,
               IFNULL(B.CNT,'0') AS CNT
          FROM board_master A
          LEFT JOIN (
                        SELECT COUNT(A.IDX) AS CNT,
                               MASTER_IDX
                          FROM BOARD A
                          LEFT JOIN BOARD_MASTER B ON A.MASTER_IDX = B.IDX
                         WHERE A.MASTER_IDX = B.IDX
                         GROUP BY MASTER_IDX
          ) B ON A.IDX = B.MASTER_IDX
    </select>

    <insert id="insertBoardMaster" parameterType="map">
        INSERT INTO board_master
            (
                 BOARD_ID,
                 BOARD_NM,
                 BOARD_DESC,
                 BOARD_TYPE,
                 FILE_ATTACH_YN,
                 USE_YN,
                 CREATE_ID,
                 CREATE_DATE,
                 UPDATE_ID,
                 UPDATE_DATE,
                 DELETE_YN,
                 DELETE_DATE
             )
        VALUES
            (
                 #{boardId},
                 #{boardNm},
                 #{boardDesc},
                 #{boardType},
                 #{fileAttachYn},
                 #{useYn},
                 #{userId},
                 date_format(SYSDATE(), '%Y-%m-%d %h:%i:%s'),
                 NULL,
                 NULL,
                 'Y',
                 NULL
            )
    </insert>

    <select id="existsBoardId" parameterType="string" resultType="int">
        SELECT COUNT(*)
          FROM board_master
         WHERE BOARD_ID = #{boardId}
    </select>
</mapper>