<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AlarmMapper">
    <select id="countReadYn" resultType="int" parameterType="int">
        SELECT count(*)
          FROM alarm
         WHERE RECEIVE_IDX = #{userIdx}
           AND READ_YN = 'N'
    </select>

    <insert id="insertAlarm" parameterType="Alarm">

        INSERT INTO alarm
            (
                 ALARM_TYPE,
                 ALARM_CONTENT,
                 URL,
                 RECEIVE_IDX,
                 CREATE_DATE
             )
        VALUES
            (
                 #{alarmType},
                 #{alarmContent},
                 #{url},
                 #{receiveIdx},
                 SYSDATE()
            )
    </insert>
</mapper>