<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.CommonMapper">

    <select id="findLinkNameLvlByUseYn" resultType="CustomMap">
        WITH RECURSIVE CTE AS
            (
                SELECT IDX,
                       PARENT_IDX,
                       NAME,
                       LINK,
                       LVL,
                       USE_YN
                  FROM MENU_TREE
                 WHERE LVL = 1
                 UNION ALL
                SELECT IDX,
                       PARENT_IDX,
                       NAME,
                       LINK,
                       LVL,
                       USE_YN
                  FROM MENU_TREE
                 WHERE IDX != PARENT_IDX
            )
        SELECT NAME,
               LINK,
               LVL
          FROM CTE
         WHERE USE_YN = 'Y'
         ORDER BY PARENT_IDX, IDX
    </select>
</mapper>