<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.CommonMapper">
    <select id="findLinkNameLvl1ByUseYn" resultType="CustomMap">
        SELECT IDX,
               NAME,
               LINK,
               LVL
          FROM menu_tree
         WHERE USE_YN = 'Y'
           AND LVL = 1
         ORDER BY IDX
    </select>

    <select id="findLinkNameLvl2ByUseYn" parameterType="int" resultType="CustomMap">
        SELECT NAME,
               LINK,
               LVL
        FROM menu_tree
        WHERE USE_YN = 'Y'
          AND LVL = 2
          AND PARENT_IDX = #{lvl}
        ORDER BY IDX
    </select>

    <delete id="deleteWithdrawUser">
        <![CDATA[
        DELETE FROM users
        WHERE DELETE_YN = 'Y'
          AND UPDATE_DATE <= date_add(now(), interval -1 month)
        ]]>
    </delete>

    <select id="countAlarmByUserIdx" resultType="int" parameterType="int">
        SELECT COUNT(*)
          FROM alarm
         WHERE RECEIVE_IDX = #{userIdx}
    </select>
</mapper>