<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.FileMapper">

    <insert id="insertAttachFileMaster" useGeneratedKeys="true" keyProperty="idx" parameterType="AttachFileMaster">
        INSERT INTO attach_file_master
            (
                CREATE_DATE
            )
        VALUES
            (
                SYSDATE()
            )
    </insert>

    <insert id="insertAttachFile" parameterType="AttachFile">

        INSERT INTO attach_file
            (
                 IDX,
                 FILE_SN,
                 ORIGINAL_NAME,
                 SAVE_NAME,
                 `SIZE`,
                 EXTENSION,
                 CREATE_IDX,
                 CREATE_DATE,
                 DELETE_YN,
                 DELETE_DATE
            )
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (
                 #{item.idx},
                 #{item.fileSn},
                 #{item.originalName},
                 #{item.saveName},
                 #{item.size},
                 #{item.extension},
                 #{item.createIdx},
                 SYSDATE(),
                 'N',
                 NULL
            )
        </foreach>

    </insert>

    <select id="findAllAttachFile" resultType="AttachFile" parameterType="string">
        SELECT IDX,
               FILE_SN,
               ORIGINAL_NAME,
               SAVE_NAME,
            SIZE,
            EXTENSION,
            CREATE_IDX,
            CREATE_DATE,
            DELETE_YN,
            DELETE_DATE
        FROM attach_file
        WHERE SAVE_NAME = #{saveName}
    </select>
</mapper>