<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.FileMapper">

    <insert id="insertAttachFileMaster" useGeneratedKeys="true" keyProperty="idx" parameterType="AttachFileMaster">
        INSERT INTO attach_file_master
            (
                CREATE_DATE
            )
        VALUES
            (
                SYSDATE()
            )
    </insert>

    <insert id="insertAttachFile" parameterType="AttachFile">

        INSERT INTO attach_file
            (
                 IDX,
                 FILE_SN,
                 ORIGINAL_NAME,
                 SAVE_NAME,
                 `SIZE`,
                 EXTENSION,
                 CREATE_IDX,
                 CREATE_DATE,
                 DELETE_YN,
                 DELETE_DATE
            )
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (
                 #{item.idx},
                 #{item.fileSn},
                 #{item.originalName},
                 #{item.saveName},
                 #{item.size},
                 #{item.extension},
                 #{item.createIdx},
                 SYSDATE(),
                 'N',
                 NULL
            )
        </foreach>

    </insert>

    <select id="findAllAttachFile" resultType="AttachFile" parameterType="string">
        SELECT IDX,
               FILE_SN,
               ORIGINAL_NAME,
               SAVE_NAME,
            SIZE,
            EXTENSION,
            CREATE_IDX,
            CREATE_DATE,
            DELETE_YN,
            DELETE_DATE
        FROM attach_file
        WHERE SAVE_NAME = #{saveName}
    </select>

    <select id="countFileIdx" parameterType="string" resultType="int">
        SELECT COUNT(*)
          FROM ATTACH_FILE AS A
         WHERE IDX IN (
                           SELECT IDX
                             FROM ATTACH_FILE B
                            WHERE SAVE_NAME = #{saveName}
                      )
    </select>

    <select id="findMasterIdxBySaveName" parameterType="string" resultType="int">
        SELECT IDX
          FROM attach_file
         WHERE SAVE_NAME = #{saveName}
    </select>


    <delete id="deleteAttachFileMaster" parameterType="int">
        DELETE FROM attach_file_master
         WHERE IDX =#{attachFileIdx}
    </delete>

    <delete id="deleteBySaveNameAttachFile" parameterType="string">
        DELETE FROM attach_file
         WHERE SAVE_NAME = #{saveName}
    </delete>

    <delete id="deleteByIdxAttachFile" parameterType="int">
        DELETE FROM attach_file
        WHERE IDX = #{attachFileIdx}
    </delete>

    <select id="maxAttachIdx" parameterType="int" resultType="int">
        SELECT IFNULL(MAX(FILE_SN), 0)
          FROM attach_file
         WHERE IDX = #{attachFileIdx}
    </select>

    <select id="findAttachFileIdxByAttatchFileMaster" resultType="int" parameterType="int">
        SELECT COUNT(*)
          FROM attach_file_master
         WHERE IDX = #{attachFileIdx}
    </select>

    <select id="findSaveNameByAttachFileIdx" resultType="CustomMap" parameterType="int">
        SELECT SAVE_NAME
          FROM attach_file
         WHERE IDX = #{idx}
    </select>
</mapper>