<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.LoginMapper">

    <select id="findByUserId" parameterType="string" resultType="User">
        SELECT IDX,
               USER_ID,
               USER_PWD,
               USER_NM,
               USER_NICKNM,
               USER_EMAIL,
               USER_PHONE,
               ROLE_TYPE,
               VERIFICATION_CODE,
               VERIFICATION_YN,
               CREATE_DATE,
               UPDATE_DATE
          FROM USERS
         WHERE USER_ID = #{userId}
    </select>

    <insert id="saveUser" parameterType="map">
        INSERT INTO USERS
            (
                 USER_ID,
                 USER_PWD,
                 USER_NM,
                 USER_NICKNM,
                 USER_EMAIL,
                 USER_PHONE,
                 VERIFICATION_CODE,
                 VERIFICATION_YN,
                 ROLE_TYPE,
                 USE_YN,
                 CREATE_DATE
             )
        VALUES
            (
                #{userId},
                #{userPwd},
                #{userNm},
                #{userNicknm},
                #{userEmail},
                #{userPhone},
                #{verificationCode},
                #{verificationYn},
                #{roleType},
                #{useYn},
                SYSDATE()
             )

    </insert>

    <insert id="saveAdminTest" parameterType="map">
        INSERT INTO USERS
            (
                 USER_ID,
                 USER_PWD,
                 USER_NM,
                 USER_NICKNM,
                 USER_EMAIL,
                 ROLE_TYPE,
                 VERIFICATION_CODE,
                 VERIFICATION_YN,
                 USE_YN,
                 CREATE_DATE
             )
        VALUES
            (
                #{userId},
                #{userPwd},
                '최고관리자',
                '최고관리자',
                '',
                'ROLE_ADMIN',
                #{verificationCode},
                #{verificationYn},
                'Y',
                SYSDATE()
             )

    </insert>

    <insert id="saveUserTest" parameterType="map">
        INSERT INTO USERS
        (
            USER_ID,
            USER_PWD,
            USER_NM,
            USER_NICKNM,
            USER_EMAIL,
            ROLE_TYPE,
            VERIFICATION_YN,
            USE_YN,
            CREATE_DATE
        )
        VALUES
            (
                #{userId},
                #{userPwd},
                '테스트유저',
                '테스트1',
                '',
                'ROLE_USER',
                'Y',
                'Y',
                SYSDATE()
            )

    </insert>

    <select id="countByUserId" parameterType="string" resultType="int">
        SELECT COUNT(*)
          FROM USERS
         WHERE user_id = #{userId}
    </select>

    <select id="findByEmailAndUserNm" parameterType="string" resultType="User">
        SELECT IDX,
               USER_ID,
               USER_PWD,
               USER_NM,
               USER_NICKNM,
               USER_EMAIL,
               USER_PHONE,
               ROLE_TYPE,
               VERIFICATION_CODE,
               VERIFICATION_YN,
               USE_YN,
               CREATE_DATE,
               UPDATE_DATE
          FROM USERS
         WHERE USER_NM = #{userNm}
           AND USER_EMAIL = #{email}
    </select>

    <select id="findByUserNmAndUserId" parameterType="string" resultType="User">
        SELECT IDX,
               USER_ID,
               USER_PWD,
               USER_NM,
               USER_NICKNM,
               USER_EMAIL,
               USER_PHONE,
               ROLE_TYPE,
               VERIFICATION_CODE,
               VERIFICATION_YN,
               USE_YN,
               CREATE_DATE,
               UPDATE_DATE
          FROM USERS
         WHERE USER_NM = #{userNm}
           AND USER_ID = #{userId}
    </select>

    <update id="updateUserPwd" parameterType="map">
        UPDATE USERS
           SET USER_PWD = #{userPwd},
               UPDATE_DATE = SYSDATE()
         WHERE USER_ID = #{userId}
    </update>

    <select id="findUserNicknmVerificationYnByUserId" parameterType="string" resultType="CustomMap">
        SELECT USER_NICKNM,
               VERIFICATION_YN
          FROM USERS
         WHERE USER_ID = #{userId}
    </select>

    <update id="updateVerificationCode" parameterType="map">
        UPDATE USERS
           SET VERIFICATION_CODE = #{VerificationCode},
               UPDATE_DATE = SYSDATE()
         WHERE USER_ID = #{userId}
    </update>


    <select id="findVerificationCodeByUserIdCode" parameterType="string" resultType="int">
        SELECT EXISTS(
                       SELECT VERIFICATION_CODE
                       FROM USERS
                       WHERE USER_ID = #{userId}
                         AND VERIFICATION_CODE = #{code}
                     ) AS EXIST
    </select>

    <update id="updateverificationYn" parameterType="string">
        UPDATE USERS
           SET VERIFICATION_YN = 'Y',
               UPDATE_DATE = SYSDATE()
         WHERE USER_ID = #{userId}
    </update>

    <select id="existByUserNicknm" parameterType="string" resultType="int">
        SELECT EXISTS(
                        SELECT USER_NICKNM
                          FROM USERS
                         WHERE USER_NICKNM = #{userNicknm}
                     )
    </select>

    <select id="existByUserEmail" parameterType="string" resultType="int">
        SELECT EXISTS(
                       SELECT USER_EMAIL
                       FROM USERS
                       WHERE USER_EMAIL = #{userEmail}
                   )
    </select>

</mapper>