<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.MypageMapper">
    <select id="findUserInfoByIdx" resultType="Users" parameterType="String">
        SELECT IDX,
               USER_ID,
               USER_NM,
               USER_NICKNM,
               USER_EMAIL,
               USER_PHONE,
               ROLE_TYPE,
               ADMIN_MEMO,
               VERIFICATION_CODE,
               VERIFICATION_YN,
               MARKETING_YN,
               PROFILE_YN,
               LAST_LOGIN_DATE,
               CREATE_DATE,
               UPDATE_IDX,
               UPDATE_DATE,
               DELETE_YN
          FROM USERS
         WHERE IDX = #{idx}
    </select>

    <update id="withdrawUser" parameterType="map">
        UPDATE users
           SET DELETE_YN = 'Y',
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}
           AND ROLE_TYPE IN
        <foreach collection="roleType" item="roleType" open="(" close=")" separator=",">
            #{roleType}
        </foreach>
    </update>

    <update id="updateNicknm" parameterType="map">
        UPDATE users
           SET USER_NICKNM = #{userNicknm},
               UPDATE_DATE = SYSDATE()
         WHERE IDX =#{idx}
    </update>

    <select id="findVerificationCodeByIdxCode" parameterType="map" resultType="int">
        SELECT EXISTS(
                       SELECT VERIFICATION_CODE
                         FROM users
                        WHERE IDX = #{idx}
                          AND VERIFICATION_CODE = #{code}
                   ) AS EXIST
    </select>

    <update id="updateEmail" parameterType="map">
        UPDATE USERS
           SET USER_EMAIL = #{userEmail},
               UPDATE_IDX = #{idx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}

    </update>

    <update id="updatePhone" parameterType="map">
        UPDATE USERS
           SET USER_PHONE = #{userPhone},
               UPDATE_IDX = #{idx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}
    </update>

    <update id="updateProfile" parameterType="String">
        UPDATE USERS
           SET PROFILE_YN ='Y',
               UPDATE_IDX = #{idx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}
    </update>

    <update id="deleteProfile" parameterType="int">
        UPDATE USERS
           SET PROFILE_YN ='N',
               UPDATE_IDX = #{idx},
               UPDATE_DATE = SYSDATE()
         WHERE IDX = #{idx}
    </update>
</mapper>