@charset "utf-8";


/* 헤더 */
header {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    color: #0f192a;
}

.header-top {
    position: relative;
    width: 100%;
    height: 65px;
    border-bottom: 2px solid #EDEDED;
    padding: 15px;
}

.header-top a img {
    width: 90px;
}

.header-bot {
    height: calc(100% - 65px);
}

.header-list {
    height: 93%;
    overflow-y: auto;
}

.header-list::-webkit-scrollbar {
    width: 5px;
}
.header-list::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
}
.header-list::-webkit-scrollbar-track {
    background-color: #ededed;
}

.header-list > ul > li {
    position: relative;
    width: 100%;
    font-weight: 600;
    text-indent: 1.4em;
    padding: 0;
    line-height: 3em;
    cursor: pointer;
}

.header-list > ul > li:after {
    position: absolute;
    content: '';
    top: 21px;
    right: 20px;
    width: 19px;
    height: 19px;
}

.header-list > ul > li.on:after {
    background: no-repeat 0 -5px / 100% url(../img/adm/menu_arr.png);
}

.header-list > ul > li.off:after {
    background: no-repeat 0 -25px / 100% url(../img/adm/menu_arr.png);
}

.header-list > ul > li.on > ul {
    display: block;
}

.header-list > ul > li.off > ul {
    display: none;
}

.header-list > ul > li > ul > li {
    font-weight: 500;
    background: #ededed;
    font-size: 0.8em;
    text-indent: 2em;
    line-height: 3.4em;
}

.header-foot {
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

/* 본문 */
section {
    width: calc(100% - 340px);
    position: relative;
    top: 0;
    left: 300px;
    word-break: keep-all;
    min-height: calc(100% - 40px);
    background: #ededed;
    padding: 20px;
}

.section-wrap {
    width: 100%;
    background: #fff;
    min-height: calc(100vh - 40px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    padding: 20px;
}