@charset "utf-8";

/*
    primary color : #1fb1c7

*/


/* 체크박스 커스텀 */
input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fbfbfb;
    vertical-align: bottom;
}

input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 40%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
    background-color: #1fb1c7;
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}


/* 헤더 */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 20%;
    height: 100%;
    background-color: #1fb1c7;
}

.header-wrap {
    width: 100%;
    height: 100%;
    padding: 70px 40px;
}

.header-wrap .header-phrases {
    text-align: right;
    margin-bottom: 5px;
}

.header-wrap .logo-wrap {
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.header-search form {
    display: flex;
    width: 100%;
    margin: auto;
}

.header-search input {
    width: 100%;
    height: 45px;
    padding: 5px 15px;
    border-radius: 25px 0 0 25px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-right: none;
    outline: none;
    font-size: 1em;
}

.header-search button {
    width: 40px;
    height: 45px;
    padding-right: 20px;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 0 25px 25px 0;
    border-left: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 1.125em;
    text-align: center;
    cursor: pointer;
}

.header-menu {
    height: 55%;
    overflow-y: scroll;
}

.header-menu::-webkit-scrollbar {
    width: 5px;
}
.header-menu::-webkit-scrollbar-thumb {
    background-color: #188a9b;
}
.header-menu::-webkit-scrollbar-track {
    background-color: #1fb1c7;
}

.header-menu {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.header-menu > ul > li {
    position: relative;
    width: 100%;
    font-weight: 600;
    padding: 0;
    line-height: 3em;
    cursor: pointer;
}

.header-menu > ul > li > span {
    display: inherit;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

.header-menu > ul > li.off > ul {
    display: none;
}

.header-menu > ul > li > ul > li {
    font-weight: 500;
    font-size: 1em;
    line-height: 3.4em;
}

.header-bot {
    display: flex;
    font-size: 0;
}

.header-bot a {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,0.3);
}

.header-bot a:not(:nth-last-child(1)) {
    margin-right: 10px;
}

.header-bot a:first-child:nth-last-child(1),
.header-bot a:first-child:nth-last-child(1) ~ a {width: 100%;}
.header-bot a:first-child:nth-last-child(2),
.header-bot a:first-child:nth-last-child(2) ~ a {width: 50%;}
.header-bot a:first-child:nth-last-child(3),
.header-bot a:first-child:nth-last-child(3) ~ a {width: 33.3%;}
.header-bot a:first-child:nth-last-child(4),
.header-bot a:first-child:nth-last-child(4) ~ a {width: 25%;}
.header-bot a:first-child:nth-last-child(5),
.header-bot a:first-child:nth-last-child(5) ~ a {width: 20%;}

/* 본문 */
section {
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    min-height: calc(100vh - 210px);
    word-break: keep-all;
}

/* 컨텐츠, 풋터 */
.section-wrap, .footer-wrap {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

/* 풋터 */
footer{
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    word-break: keep-all;
    background-color: #353535;
}

.footer-wrap{
    text-align: center;
    color: #fff;
}

.footer-wrap .logo-wrap{
    text-align: center;
    border-bottom: 1px solid #fff;
}
