<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thHead(pageCss='/css/board/boardDetail.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<th:block th:if="${boardMaster.useYn == 'N'}">
    <script>
        alert("사용이 불가능한 페이지입니다.");
        window.history.back();
    </script>
</th:block>
<th:block th:if="!${@compareAuth.getAuth(boardMaster.readLevel)}">
    <script>
        alert("접근이 불가능한 페이지입니다.");
        window.history.back();
    </script>
</th:block>
<th:block th:replace="/fragments/header.html :: thHeader"></th:block>
<section>
    [[${boardDetail}]]

    <br /><br />
    [[${boardMaster}]]
    <br /><br />
<!--    [[${commentList}]]-->
    <div class="section-wrap">
        <form id="boardRegistForm">
            <div class="pt80"></div>
            <div class="top-btn-box mb10">
                <div class="left" th:text="${boardDetail.boardSubject}"></div>
                <a th:if="${@compareAuth.getAuth('ADMIN') || boardDetail.idx == session.idx}">
                    <i id="controlBtn" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <ul style="display: none;">
                        <li><button id="boardUpdate" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button></li>
                        <li><button id="boardDel" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제</button></li>
                        <li th:if="${@compareAuth.getAuth('ADMIN')}"><button id="boardMovePopup" type="button"><i class="fa fa-arrows" aria-hidden="true"></i> 이동</button></li>
                    </ul>
                </a>
            </div>
            <div>
                <ul class="board-ul">
                    <li class="border-bot">
                        <div class="board-info">
                            <!-- TODO 차후 프로필 썸네일 팰요 -->
                            <img th:src="@{/img/common/no_profile.gif}" >
                            <div>
                                <p th:text="${boardDetail.createNicknm}" class="weight600"></p>
                                <p>
                                    <!-- TODO 댓글개수 필요 -->
                                    <span><i class="fa fa-commenting-o" aria-hidden="true"></i> 0건</span>
                                    <span><i class="fa fa-eye" aria-hidden="true"></i> [[${boardDetail.hit}]]회</span>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> 22-05-02 17:41</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li th:if="${boardDetail.attachFileIdx}">
                        <!-- TODO 파일리스트 필요 -->
                    </li>
                    <li th:utext="${boardDetail.boardContent}" class="board-content"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="mb10"></div>
            <div class="mb5"></div>
            <div class="bot-btn-box">
                <button type="button">목록으로</button>
            </div>
            <div class="mb100"></div>
        </form>
    </div>
</section>
<script>
    var boardId = "[[${boardMaster.boardId}]]";
    var boardType = "[[${boardMaster.boardType}]]";
    var editorLevel = [[${@compareAuth.getAuth(boardMaster.writeLevel)}]];
</script>
<th:block th:replace="/fragments/footer.html :: thFooter"></th:block>
<script th:src="@{/js/board/boardDetail.js}"></script>
</body>
</html>