<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thHead(pageCss='/css/board/boardUpdate.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<script>
    if("[[${boardMaster.useYn}]]" == "N") {
        alert("사용이 불가능한 페이지입니다.");
        window.history.back();
    }
    else if (![[${@compareAuth.getAuth(boardMaster.writeLevel)}]]) {
        alert("접근이 불가능한 페이지입니다.");
        window.history.back();
    }
    else if("[[${boardDetail.deleteYn}]]" == "Y") {
        alert("삭제 된 게시글입니다.");
        window.history.back();
    }
    else if (!([[${@compareAuth.getAuth('ADMIN')}]] || [[${session.idx}]] == [[${boardDetail.createIdx}]])) {
        alert("수정 권한이 없는 페이지입니다.");
        window.history.back();
    }
</script>
<th:block th:replace="/fragments/header.html :: thHeader"></th:block>
<section>
    <div class="section-wrap">
        <form id="boardRegistForm">
            <div class="pt80"></div>
            [[${boardMaster}]]
            [[${boardDetail}]]
            [[${fileList}]]
            <div class="top-btn-box">
                <div class="left">게시물 수정</div>
                <span th:if="${@compareAuth.getAuth('ADMIN')}"><input id="notice" type="checkbox"/><label for="notice">공지</label></span>
            </div>
            <div class="mb10"></div>
            <ul th:id="boardUl" class="board-ul">
                <li>
                    <label>제목</label>
                    <input id="boardSubject" type="text" th:value="${boardDetail.boardSubject}">
                </li>
                <li>
                    <label><i class="fa fa-image" aria-hidden="true"></i></label>
                    <div>
                        <input id="thumb" type="file" th:style="${boardDetail.thumbnailNm == null ? 'display:block;' : 'display:none;'}">
                        <a href="/file/download/">img.gif</a><span th:data-val="${boardDetail.idx}">×</span>
                    </div>
                </li>
                <li th:if="${@compareAuth.getAuth(boardMaster.uploadLevel)}">
                    <label><i class="fa fa-folder-open" aria-hidden="true"></i></label>
                    <div>
                        <input id="files" type="file" multiple>
                    </div>
                </li>
                <li>
                    <textarea id="boardContent"></textarea>
                </li>
            </ul>
            <div class="mb5"></div>
            <div class="bot-btn-box">
                <button type="submit">글쓰기</button>
            </div>
            <div class="mb100"></div>
        </form>
    </div>
</section>
<script>
    var masterIdx = "[[${boardMaster.idx}]]";
    var boardType = "[[${boardMaster.boardType}]]";
    var boardId = "[[${boardMaster.boardId}]]";
    var editorLevel = [[${@compareAuth.getAuth(boardMaster.writeLevel)}]];
</script>
<th:block th:replace="/fragments/footer.html :: thFooter"></th:block>
<script th:src="@{/js/board/boardUpdate.js}"></script>
</body>
</html>