@charset "utf-8";

.top-btn-box {
    width: 100%;
    text-align: right;
    min-height: 35px;
}

.top-btn-box .left {
    float: left;
    font-size: 24px;
}

.top-btn-box a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}

.top-btn-box a > i {
    padding: 0 16px;
    color: #bababa;
}

.top-btn-box a > ul {
    position: absolute;
    top: 45px;
    right: -2px;
    background: #fff;
    border: 1px solid #b8bfc4;
    z-index: 999;
}

.top-btn-box a > ul:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #b8bfc4 transparent;
}

.top-btn-box a > ul:after {
    content: "";
    position: absolute;
    top: -6px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #fff transparent;
}

.top-btn-box a > ul li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    float: inherit;
    width: 90px;
    margin: 0;
    color: #6b757c;
    text-align: left;
    line-height: 15px;
}

.top-btn-box a > ul li button, .bot-btn-box a > ul li a {
    width: 100%;
    border: 0;
    background: #fff;
    color: #6b757c;
    text-align: left;
}

.top-btn-box a > ul li i {
    float: right;
    line-height: 20px;
}

.top-btn-box span input[type="checkbox"]{
    margin-right: 5px;
}

.top-btn-box span label{
    cursor: pointer;
}

.board-ul li {
    width: 100%;
    padding: 10px 0;
}
.bot-btn-box {
    width: 100%;
    min-height: 36px;
    text-align: right;
}

.bot-btn-box > button {
    border: 0;
    color: #fff;
    background: #1fb1c7;
    padding: 7px 25px;
    vertical-align: top;
    min-height: 36px;
}

.border-bot {
    border-bottom: 1px solid #eee;
}

.board-info img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 10px;
}

.board-info div {
    display: inline-block;
    width: calc(100% - 64px);
    padding: 8px 0;
}

.board-info div p{
    font-size: 12px;
}

.board-info div p span{
    margin-right: 5px;
}

.board-content {
    min-height: 200px;
}

.board-comment-btn {
    width: 100%;
    text-align: left;
    font-weight: 600;
}

.board-comment-btn .board-more {
    float: right;
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-top: 2px;
    background: url(../../img/common/btn_arrow.png) no-repeat right 2px;
}

.board-comment-btn.on .board-more {
    background: url(../../img/common/btn_arrow.png) no-repeat right -8px;
}

.board-comment textarea {
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: middle;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    height: 120px;
    margin-top: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

/* 팝업관련 */
.popup-js-content table tbody tr.sel, .popup-js-content table tbody tr:hover {
    cursor: pointer;
    background: rgba(31,177,199,0.05);
    color: #1fb1c7;
}