@charset "utf-8";

.top-btn-box {
    width: 100%;
    text-align: right;
}

.top-btn-box .left {
    float: left;
    font-size: 24px;
    line-height: 40px;
}

.top-btn-box select, .top-btn-box input[type='text'] {
    padding: 6px;
    border: 1px solid #ededed;
    min-height: 36px;
    vertical-align: top;
    font-size: 14px;
}

.top-btn-box input[type='text']::placeholder {
    color: #999999;
}

.top-btn-box button {
    border: 0;
    color: #fff;
    background: #1fb1c7;
    padding: 7px 25px;
    vertical-align: top;
    min-height: 36px;
}

.board-table {
    border-bottom: 1px solid #ededed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.board-table tr.notice {
    background: rgba(31,177,199,0.05);
    color: #1fb1c7;
}

.board-table tr.even {
    background: #fbfbfb;
}

.board-table thead th {
    padding: 10px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    background: #ededed;
    color: #383838;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 1.5em;
}

.board-table thead th {
    padding: 12px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    background: #ededed;
    color: #383838;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 21px;
}

.board-table td {
    padding: 12px 5px;
    border-top: 1px solid #f3f3f3;
    line-height: 22px;
    word-break: break-all;
    font-size: 14px;
}

.board-table tbody tr td:not(.off) {
    cursor: pointer;
}

.bot-btn-box {
    width: 100%;
    min-height: 36px;
    text-align: right;
}

.bot-btn-box .left {
    float: left;
    font-size: 12px;
    color: #999999;
}

.bot-btn-box a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
}

.bot-btn-box a:hover {
    color: #1fb1c7;
}

.bot-btn-box a > i {
    padding: 0 16px;
    color: #bababa;
}

.bot-btn-box a > ul {
    position: absolute;
    top: 45px;
    right: -2px;
    background: #fff;
    border: 1px solid #b8bfc4;
    z-index: 999;
}

.bot-btn-box a > ul:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #b8bfc4 transparent;
}

.bot-btn-box a > ul:after {
    content: "";
    position: absolute;
    top: -6px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #fff transparent;
}

.bot-btn-box a > ul li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    float: inherit;
    width: 90px;
    margin: 0;
    color: #6b757c;
    text-align: left;
    line-height: 15px;
}

.bot-btn-box a > ul li button, .bot-btn-box a > ul li a {
    width: 100%;
    border: 0;
    background: #fff;
    color: #6b757c;
    text-align: left;
}

.bot-btn-box a > ul li i {
    float: right;
    line-height: 20px;
}

.bot-btn-box > button {
    border: 0;
    color: #fff;
    background: #1fb1c7;
    padding: 7px 25px;
    vertical-align: top;
    min-height: 36px;
}