@charset "utf-8";

table .update-btn button {
    background: #1fb1c7;
    border: 1px solid #00a6bc;
    padding: 7px 0;
    width: 50px;
    color: #fff;
    border-radius: 5px;
}

table .remarks {
    font-size: 13px;
}

table td.qa-category {
    white-space: nowrap;
    line-height: normal!important;
    overflow-x: auto;
    text-overflow: unset!important;
}

table td.qa-category span {
    display: inline-block;
    background-color: #ededeb;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    margin-right: 10px;
    cursor: pointer;
}
