<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="thCheck">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
            <title>check</title>
            <style type="text/css" id="style4">* {vertical-align: bottom; }</style>
            <path d="M7 14.17L2.83 10l-1.41 1.41L7 17 19 5l-1.41-1.42L7 14.17z" id="path6" style="fill:#1fb1c7;fill-opacity:1"></path>
        </svg>
    </th:block>
</html>
