<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='')"></th:block>
    <body ondragstart="return false" onselectstart="return false">
        <th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
        <section>
            <div class="section-wrap">
                <h2>관리자 페이지입니다.</h2>
            </div>
        </section>
        <th:block th:replace="/fragments/footer.html :: thAdmFooter"></th:block>
    </body>
</html>