<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='/css/adm/menuTree.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
    <th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
    <section>
        <div class="section-wrap">
            <h2>게시판 관리</h2>
            <div class="mt50"></div>
            <form id="menuTreeForm">
                <div class="top-btn-box">
                    <button type="button" id="addBtn" class="color-primary">게시판추가</button>
                </div>
                <table id="menuTreeTable">
                    <colgroup>
                        <col width="30%">
                        <col width="20%">
                        <col width="10%">
                        <col width="10%">
                        <col width="15%">
                        <col width="5%">
                        <col width="10%">

                    </colgroup>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Creater</th>
                        <th>Date</th>
                        <th>Remarks</th>
                        <th>Open</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                    <th:block th:each="res : ${resultList}">-->
<!--                        <tr th:data-val="${res.idx}">-->
<!--                            <td>[[${res.name}]]</td>-->
<!--                            <td class="text-center">[[${res.type}]]</td>-->
<!--                            <td class="text-center">[[${res.createId}]]</td>-->
<!--                            <td class="text-center">[[${res.createDate}]]</td>-->
<!--                            <td class="text-center">[[${res.createDate}]]</td>-->
<!--                            <td class="text-center"><input type="checkbox" th:checked="${res.openYn == 'Y'}"></td>-->
<!--                            <td><input type="text" th:value="${res.link}"></td>-->
<!--                            <td class="text-center command-btn">-->
<!--                                <button type="button" name="upMoveBtn">▲</button>-->
<!--                                <button type="button" name="downMoveBtn">▼</button>-->
<!--                                <button type="button" name="removeBtn">ㅡ</button>-->
<!--                            </td>-->
<!--                            <td class="text-center"><input type="checkbox" th:checked="${res.openYn == 'Y'}"></td>-->
<!--                            <td class="text-center update-btn">-->
<!--                                <button type="button">수정</button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </th:block>-->
                    </tbody>
                </table>
            </form>
        </div>
    </section>
    <th:block th:replace="/fragments/footer.html :: thAdmJs"></th:block>
    <script th:src="@{/js/adm/boardMaster.js}"></script>
</body>
</html>