<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='/css/adm/faq.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
<section>
    <div class="section-wrap">
        <h2>FAQ 관리</h2>
        <span class="text-color-primary text-line20">※ 같은 순위를 지정하면 등록순으로 출력됩니다.</span>
        <div class="mt20"></div>
        <div class="top-btn-box">
            <div class="left">
                <select id="searchType">
                    <option value="TW" th:selected="${#httpServletRequest.getParameter('searchType') == 'TW'}">FAQ명 + 작성자</option>
                    <option value="T" th:selected="${#httpServletRequest.getParameter('searchType') == 'T'}">FAQ명</option>
                    <option value="W" th:selected="${#httpServletRequest.getParameter('searchType') == 'W'}">작성자</option>
                </select>
                <input id="searchKeyword" type="text" th:value="${#httpServletRequest.getParameter('searchKeyword')}" />
                <button type="button" id="searchBtn" class="color-primary">검색</button>
            </div>
            <select id="masterIdx" th:with="masterIdx = ${#httpServletRequest.getParameter('masterIdx')}">
                <option value="" th:selected="${masterIdx == ''}">전체 보기</option>


                <th:block th:each="res : ${faqList}">
                    <option th:value="${res.idx}" th:selected="${masterIdx == #strings.toString(res.idx)}">[[${res.faqNm}]] 보기</option>
                </th:block>

            </select>
            <button type="button" id="addBtn" class="color-primary" th:if="${#httpServletRequest.getParameter('masterIdx') != ''}">FAQ추가</button>
        </div>
        <table>
            <colgroup>
                <col width="30%">
                <col width="15%">
                <col width="10%">
                <col width="25%">
                <col width="5%">
                <col width="5%">
                <col width="10%">
            </colgroup>
            <thead>
            <tr>
                <th>Name</th>
                <th>Creater</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>Rank</th>
                <th>Use</th>
                <th>Update</th>
            </tr>
            </thead>
        </table>
        [[${resultList}]]
        <div class="section-scroll">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="15%">
                    <col width="10%">
                    <col width="25%">
                    <col width="5%">
                    <col width="5%">
                    <col width="10%">
                </colgroup>
                <tbody>
                <th:block th:each="res : ${resultList}">
                    <!--/*

                    <tr>
                        <td th:text="${res.faqNm}"></td>
                        <td th:text="${res.faqQuestion}"></td>
                        <td class="text-center" th:text="${res.createNicknm}"></td>
                        <td class="text-center" th:text="${#dates.format(res.createDate, 'yyyy. MM. dd.')}"></td>
                            <td class="remarks text-color-primary">
                                <th:block th:if="${res.updateDate != null && res.updateNicknm != null}">
                                    ※ [[${#dates.format(res.updateDate, 'yyyy. MM. dd.')}]] [[${res.updateNicknm}]] 님이 수정함.
                                </th:block>
                            </td>
                           <td class="text-center" th:text="${res.fOrder}"></td>
                           <td class="text-center"><input type="checkbox" th:checked="${res.useYn == 'Y'}" disabled></td>
                           <td class="text-center update-btn">
                               <button type="button" name="updateBtn" th:data-val="${res.idx}">수정</button>
                           </td>
                    </tr>
                    */-->
                </th:block>
                <th:block th:if="${resultList.size() == 0}">
                    <tr>
                        <td colspan="8" class="text-center">등록된 FAQ가 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</section>
<th:block th:replace="/fragments/footer.html :: thAdmFooter"></th:block>
<script th:src="@{/js/adm/faq.js}"></script>
</body>
</html>