<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='')"></th:block>
<body ondragstart="return false" onselectstart="return false">
    <th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
    <section>
        <div class="section-wrap">
            <h2>메뉴설정</h2>
        </div>
    </section>
    <th:block th:replace="/fragments/footer.html :: thAdmJs"></th:block>
</body>
</html>