<!--/*
    thymeleaf 주석처리

    $2a$10$lVhust4M6l6FfYQDC/lfl.sr/yLnd0Xn7KqtHstds/fDN6aY19H7C
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<th:block th:replace="/fragments/head.html :: thPopupHead(pageCss='/css/adm/password.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<section>
    <div class="section-wrap">
        <form id="passwordForm">
            <h5>비밀번호 변경</h5>
            <div class="mb10"></div>
            <table>
                <colgroup>
                    <col width="40%">
                    <col width="60%">
                </colgroup>
                <tbody>
                <tr>
                    <th>현재 비밀번호</th>
                    <td><input id="userPrevPwd" type="password" maxlength="20"></td>
                </tr>
                <tr>
                    <th>새 비밀번호</th>
                    <td><input id="userNewPwd" type="password" maxlength="20" placeholder="영문 / 숫자 / 특수문자 포함, 8~16자" autocomplete="new-password"></td>
                </tr>
                <tr>
                    <th>새 비밀번호 확인</th>
                    <td><input id="userNewPwdChk" type="password" maxlength="20"></td>
                </tr>
                </tbody>
            </table>
            <div class="mb50"></div>
            <div class="bot-btn-box">
                <button type="button" onclick="$popup.popupWindowClose()">닫기</button>
                <button type="submit">변경</button>
            </div>
        </form>
    </div>
</section>
<th:block th:replace="/fragments/footer.html :: thAdmJs"></th:block>
<script>
    var myIdx = "[[${session.idx}]]";
</script>
<script th:src="@{/js/adm/password.js}"></script>
</body>
</html>