<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='/css/adm/qna.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
<section>
    <div class="section-wrap">
        <h2>Q&A 관리</h2>
        <div class="mt40"></div>
        <div class="top-btn-box">
            <div class="left">
                <select id="searchType">
                    <option value="TW" th:selected="${#httpServletRequest.getParameter('searchType') == 'TW'}">질문명 + 작성자</option>
                    <option value="T" th:selected="${#httpServletRequest.getParameter('searchType') == 'T'}">질문명</option>
                    <option value="W" th:selected="${#httpServletRequest.getParameter('searchType') == 'W'}">작성자</option>
                </select>
                <input id="searchKeyword" type="text" th:value="${#httpServletRequest.getParameter('searchKeyword')}" />
                <button type="button" id="searchBtn" class="color-primary">검색</button>
            </div>
            <select id="status">
                <option value="Q" th:selected="${#httpServletRequest.getParameter('status') == 'Q'}">미답변 Q&A 보기</option>
                <option value="ALL" th:selected="${#httpServletRequest.getParameter('status') == 'ALL'}">전체 Q&A 보기</option>
            </select>
        </div>
        <table>
            <colgroup>
                <col width="5%">
                <col width="10%">
                <col width="20%">
                <col width="15%">
                <col width="10%">
                <col width="25%">
                <col width="5%">
                <col width="10%">
            </colgroup>
            <thead>
            <tr>
                <th>Num</th>
                <th>Type</th>
                <th>Name</th>
                <th>Creater</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>Secret</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="res : ${resultList}">
                <tr>
                    <td class="text-center" th:text="${#numbers.formatInteger(res.rn, 0)}"></td>
                    <td class="text-center" th:text="${res.qaCategory}"></td>
                    <td th:text="${res.qaSubject}"></td>
                    <td class="text-center" th:text="${res.createNicknm}"></td>
                    <td class="text-center" th:text="${#dates.format(res.createDate, 'yyyy. MM. dd')}"></td>
                    <td class="remarks" th:classappend="${res.qaStatus == 'Q' or res.qaStatus == 'RQ'} ? 'text-color-red' : 'text-color-primary'">
                        <th:block th:if="${res.qaStatus == 'Q'}">
                            ※ [[${#dates.format(res.createDate, 'yyyy. MM. dd')}]] [[${res.createNicknm} != null ?  ${res.createNicknm} : '탈퇴한 회원']] 님이 질문함.
                        </th:block>
                        <th:block th:if="${res.qaStatus == 'RQ'}">
                            ※ [[${#dates.format(res.updateDate, 'yyyy. MM. dd')}]] [[${res.updateNicknm} != null ?  ${res.updateNicknm} : '탈퇴한 회원']] 님이 추가질문함.
                        </th:block>
                        <th:block th:if="${res.qaStatus == 'A'}">
                            ※ [[${#dates.format(res.updateDate, 'yyyy. MM. dd')}]] [[${res.updateNicknm} != null ?  ${res.updateNicknm} : '탈퇴한 관리자']] 님이 답변함.
                        </th:block>
                        <th:block th:if="${res.qaStatus == 'RA'}">
                            ※ [[${#dates.format(res.updateDate, 'yyyy. MM. dd')}]] [[${res.updateNicknm} != null ?  ${res.updateNicknm} : '탈퇴한 관리자']] 님이 추가답변함.
                        </th:block>
                    </td>
                    <td class="text-center"><input type="checkbox" th:checked="${res.secretYn == 'Y'}" disabled></td>
                    <td class="text-center update-btn">
                        <button type="button" name="updateBtn" th:data-val="${res.idx}">상세</button>
                    </td>
                </tr>
            </th:block>
            <th:block th:if="${resultList.size() == 0}">
                <tr>
                    <td colspan="8" class="text-center">등록된 Q&A가 없습니다.</td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div th:replace="/fragments/pagination.html :: pagination"></div>

    </div>
</section>
<th:block th:replace="/fragments/footer.html :: thAdmFooter"></th:block>
<script th:src="@{/js/adm/qna.js}"></script>
</body>
</html>