<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='/css/adm/user.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
<section>
    <div class="section-wrap">
        <h2>회원 관리</h2>
        <div class="mt40"></div>
        <div class="top-btn-box">
            <div class="left">
                <select id="searchType">
                    <option value="INW" th:selected="${#httpServletRequest.getParameter('searchType') == 'INW'}">ID + 이름 + 닉네임</option>
                    <option value="I" th:selected="${#httpServletRequest.getParameter('searchType') == 'I'}">ID</option>
                    <option value="N" th:selected="${#httpServletRequest.getParameter('searchType') == 'N'}">이름</option>
                    <option value="W" th:selected="${#httpServletRequest.getParameter('searchType') == 'W'}">닉네임</option>
                </select>
                <input id="searchKeyword" type="text" th:value="${#httpServletRequest.getParameter('searchKeyword')}" />
                <button type="button" id="searchBtn" class="color-primary">검색</button>
            </div>
        </div>
        <table>
            <colgroup>
                <col width="5%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="20%">
                <col width="10%">
                <col width="5%">
            </colgroup>
            <thead>
            <tr>
                <th>Num</th>
                <th>Id</th>
                <th>Name</th>
                <th>Nickname</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>Verification</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="res : ${resultList}">
                <tr>
                    <td class="text-center" th:text="${#numbers.formatInteger(res.rn, 0)}"></td>
                    <td class="text-center" th:text="${res.userId}"></td>
                    <td class="text-center" th:text="${res.userNm}"></td>
                    <td class="text-center" th:text="${res.userNicknm}"></td>
                    <td class="text-center" th:text="${#dates.format(res.createDate, 'yyyy. MM. dd')}"></td>
                    <td class="remarks text-color-red">
                        <th:block th:if="${res.idx != null && res.updateNicknm != null}">
                            ※ [[${#dates.format(res.updateDate, 'yyyy. MM. dd')}]]
                            <th:block th:if="${res.useYn == 'Y'}">
                                [[${res.updateNicknm}]] 님이 수정함.
                            </th:block>
                            <th:block th:if="${res.useYn == 'N'}">
                                 탈퇴함.
                            </th:block>
                        </th:block>
                    </td>
                    <td class="text-center"><input type="checkbox" th:checked="${res.verificationYn == 'Y'}" disabled></td>
                    <td class="text-center update-btn">
                        <button type="button" name="updateBtn" th:data-val="${res.idx}">수정</button>
                    </td>
                </tr>
            </th:block>

            <th:block th:if="${resultList.size() == 0}">
                <tr>
                    <td colspan="8" class="text-center">등록된 회원이 없습니다.</td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div th:replace="/fragments/pagination.html :: pagination"></div>

    </div>
</section>
<th:block th:replace="/fragments/footer.html :: thAdmFooter"></th:block>
<script th:src="@{/js/adm/user.js}"></script>
</body>
</html>