<!DOCTYPE html>
<html>
<head>
  <title>Job Notifications</title>
  <script>
    var subscribe = function() {
      var eventSource = new EventSource('new_notification');

      eventSource.onmessage = function(e) {
        var alram = JSON.parse(e.data);
        document.getElementById("notificationDiv").innerHTML += " type : " + alram.alertContent + "<br/>"
                                                              + " content : " + new Date(alram.createDate) + "<br/>"
                                                              + " url : " + alram.url + "<br/>"
                                                              + " RECEIVE_IDX : " + alram.receiveIdx + "<br/>"
      };
    }

    window.onload = subscribe;

    window.onbeforeunload = function() {
      eventSource.close();
    }
  </script>
</head>
<body>
<h1>Notifications: </h1>
<div id="notificationDiv"></div>
</body>
</html>