<!DOCTYPE html>
<html>
<head>
  <title>Job Notifications</title>
  <script>
    var subscribe = function() {
      var eventSource = new EventSource('new_alarm');
      eventSource.onmessage = function (e) {
        var alarm = JSON.parse(e.data);
        console.log(alarm);
        var sessionIdx = "[[${session.idx}]]";
        console.log(alarm.receiveIdx);
        console.log(sessionIdx);
        if (alarm.receiveIdx == sessionIdx) {
          document.getElementById("notificationDiv").innerHTML += " alertType : " + alarm.alarmType + "<br/>"
                                                                + " content : " + alarm.alarmContent + "<br/>"
                                                                + " url : " + alarm.url + "<br/>"
                                                                + " RECEIVE_IDX : " + alarm.receiveIdx + "<br/>"
                                                                + " createDate : " + new Date() + "<br/>";
        };
      }
    }

    window.onload = subscribe;
    window.onbeforeunload = function() {
      eventSource.close();
    }

  </script>
</head>
<body>
<h1>Notifications: </h1>
<div id="notificationDiv"></div>
</body>
</html>