<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>홈페이지 로그인</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
<h1>로그인</h1>
<hr>
<form action="/login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <input type="text" name="userId" placeholder="아이디">
    <input type="password" name="userPwd" placeholder="비밀번호">
    <button type="submit">로그인</button>
</form>
<div th:text="${#request.getAttribute('loginFailMsg')}">message here</div>
</body>
</html>
