<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>플라즈마 모니터링 시스템</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login/signup.css}">
</head>
<body>
    <div class="signup-wrap">
        <h1 class="logo"><img th:src="@{/img/common/logo.png}" alt="KYUNG DONG R&H CO.,LTD" /> </h1>
        <div class="signup">
            <div class="content">
                <h2>회원가입</h2>
                <form action="/signup" th:action th:object="${user}" method="post">
                    <div class="text-input-wrap">
                        <label for="userId">아이디</label>
                        <input type="text" th:field="*{userId}" />
                        <button type="button" id="checkId" class="btn-red">중복확인</button>
                        <p class="input-msg" th:errors="*{userId}"></p>
                    </div>
                    <div class="text-input-wrap">
                        <label for="authNo">코드번호</label>
                        <input type="text" th:field="*{authNo}" />
                        <button type="button" id="checkGroupCode" class="btn-red">확인</button>
                    </div>
                    <div class="text-input-wrap">
                        <label for="userNm">이름</label>
                        <input type="text" th:field="*{userNm}" />
                    </div>
                    <div class="text-input-wrap">
                        <label for="groupNm">업체명</label>
                        <input type="text" id="groupNm" name="groupNm" />
                    </div>
                    <div class="text-input-wrap">
                        <label for="userEmail">이메일주소</label>
                        <input type="text" th:field="*{userEmail}" />
                        <p class="input-msg"></p>
                    </div>
                    <div class="text-input-wrap">
                        <label for="userPwd">비밀번호</label>
                        <input type="password" th:field="*{userPwd}" />
                        <p class="input-msg"></p>
                    </div>
                    <div class="text-input-wrap">
                        <label for="userPwdConfirm">비밀번호 확인</label>
                        <input type="password" th:field="*{userPwdConfirm}" />
                        <p class="input-msg"></p>
                    </div>
                    <div class="text-input-wrap">
                        <label for="depart">부서</label>
                        <input type="text" th:field="*{depart}" />
                    </div>
                    <div class="text-input-wrap">
                        <label for="jobPosition">직책/직급</label>
                        <input type="text" th:field="*{jobPosition}" />
                    </div>
                    <div class="text-input-wrap">
                        <label for="userPhone">연락처</label>
                        <input type="text" th:field="*{userPhone}" />
                        <p class="input-msg"></p>
                    </div>
                    <button type="submit" class="btn-signup">가입하기</button>
                </form>

            </div>
        </div>
    </div>
    <script th:src="@{/js/externalLib/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/login/login.js}"></script>
</body>
</html>
