<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thHead(pageCss='/css/qna/qnaDetail.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">

<script>
    if("[[${qnaConfig.deleteYn}]]" == "Y") {
        alert("삭제 된 Q%A입니다.");
        window.history.back();
    }
    else if("[[${qnaConfig.secretYn}]]" == "Y") {
        if("[[${session.idx}]]" != [[${qnaConfig.createIdx}]]) {
            if(![[${@compareAuth.getAuth('ADMIN')}]]) {
                alert("비밀글로 작성된 Q&A입니다.");
                window.history.back();
            }
        }
    }

</script>
<th:block th:replace="/fragments/header.html :: thHeader"></th:block>
<section>
    <div class="section-wrap">
        <form id="qnaDetailForm">
            <div class="pt80"></div>
            <th:block th:each="detail, i : ${qnaDetail}">
                <div class="mb20"></div>
                <div class="qna-box">
                    <div class="top-btn-box mb10">
                        <div class="left">
                            <span class="qa-category text-color-primary" th:text="${i.odd ? i.index == 0 ? qnaConfig.qaCategory : '추가질문' : i.index == 1 ? '답변' : '추가답변'}"></span>[[${detail.qaSubject}]]
                        </div>
                        <a class="control-box" th:if="${qnaConfig.createIdx == session.idx && i.index == 0}">
                            <i id="controlBtn" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            <ul style="display: none;">
                                <li th:if="${qnaConfig.qaStatus == 'Q' || qnaConfig.qaStatus == 'RQ'}"><button id="qnaUpdate" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button></li>
                                <li><button id="qnaDel" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제</button></li>
                            </ul>
                        </a>
                    </div>
                    <div>
                        <ul class="qa-ul">
                            <li class="border-bot">
                                <div class="qna-info">
                                    <img th:src="@{/img/common/no_profile.gif}" >
                                    <div>

                                        <p th:text="${detail.createNicknm}" class="weight600"></p>
                                        <p>
                                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> [[${#dates.format(detail.createDate, 'yyyy. MM. dd. HH:mm')}]]</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <th:block th:if="${fileList[i.index].size() > 0}">
                                <li class="board-on-btn">
                                    <button type="button" class="on qna-file-btn">첨부파일 <span class="text-color-primary" th:text="${fileList[i.index].size() }"></span><span class="board-more"></span></button>
                                </li>
                                <li id="boardFile" class="board-on">
                                    <th:block th:each="res : ${fileList[i.index]}">
                                        <p><a th:href="'/file/download/'+ ${res.saveName}" th:text="${res.originalName}"></a></p>
                                    </th:block>
                                </li>
                            </th:block>
                            <li th:utext="${detail.qaContent}" class="board-content"></li>
                        </ul>
                    </div>
                </div>
            </th:block>
            <div class="mb100"></div>
            <div class="bot-btn-box">
                <button id="goList" type="button">목록</button>
                <button th:if="${qnaConfig.qaStatus == 'A' || qnaConfig.qaStatus == 'RA'}" type="button">추가질문</button>
            </div>
            <div class="mb100"></div>
        </form>
    </div>
</section>

<script>
    var idx = "[[${qnaConfig.idx}]]";
</script>
<!--/*
    var sessionIdx;
    var sessionUserNicknm;


<th:block sec:authorize="isAuthenticated()">
    <script>
        var sessionIdx = [[${session.idx}]];
        var sessionUserNicknm = "[[${session.userNicknm}]]";
    </script>
</th:block>
*/-->
<th:block th:replace="/fragments/footer.html :: thFooter"></th:block>
<script th:src="@{/js/qna/qnaDetail.js}"></script>
</body>
</html>