<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thHead(pageCss='/css/qna/qnaDetail.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">

<script>
    if("[[${qnaConfig.deleteYn}]]" == "Y") {
        alert("삭제 된 Q%A입니다.");
        window.history.back();
    }
    else if("[[${qnaConfig.secretYn}]]" == "Y") {
        if("[[${session.idx}]]" != [[${qnaConfig.createIdx}]]) {
            if(![[${@compareAuth.getAuth('ADMIN')}]]) {
                alert("비밀글로 작성된 Q&A입니다.");
                window.history.back();
            }
        }
    }

</script>
<th:block th:replace="/fragments/header.html :: thHeader"></th:block>
<section>
    [[${qnaDetail[0]}]]
    <div class="section-wrap">
        <form id="qnaDetailForm">
            <div class="pt80"></div>
            <div class="top-btn-box mb10">
                <span class="qa-category text-color-primary" th:text="${qnaConfig.qaCategory}"></span>
                [[${qnaDetail[0].qaSubject}]]
            </div>
            <div>
                <ul class="qa-ul">
                    <li class="border-bot">

                        <div class="board-info">
                            <img th:src="@{/img/common/no_profile.gif}" >
                            <div>

                                <p th:text="${qnaDetail[0].createNicknm}" class="weight600"></p>
                                <p>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> [[${#dates.format(qnaDetail[0].createDate, 'yyyy. MM. dd. HH:mm')}]]</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!--/*
                                        <th:block th:if="${fileList.size() > 0}">
                                            <li class="board-on-btn">
                                                <button type="button" id="boardFileBtn" class="on">첨부파일 <span class="text-color-primary" th:text="${fileList.size() }"></span><span class="board-more"></span></button>
                                            </li>
                                            <li id="boardFile" class="board-on">
                                                <th:block th:each="res : ${fileList}">
                                                    <p><a th:href="'/file/download/'+ ${res.saveName}" th:text="${res.originalName}"></a></p>
                                                </th:block>
                                            </li>
                                        </th:block>
                                        <li th:utext="${boardDetail.boardContent}" class="board-content"></li>
                                        */-->
                </ul>
            </div>
            <!--/*
            <div class="mb40"></div>
            <div class="bot-btn-box">
                <button id="goList" type="button">목록</button>
            </div>
            */-->
            <div class="mb100"></div>
        </form>
    </div>
</section>
<!--/*
<script>
    var idx = "[[${boardDetail.idx}]]";
    var boardId = "[[${boardMaster.boardId}]]";
    var boardType = "[[${boardMaster.boardType}]]";
    var admin = [[${@compareAuth.getAuth('ADMIN')}]] ;
    var commentLevel = [[${@compareAuth.getAuth(boardMaster.commentLevel)}]];
    var sessionIdx;
    var sessionUserNicknm;
</script>
<th:block sec:authorize="isAuthenticated()">
    <script>
        var sessionIdx = [[${session.idx}]];
        var sessionUserNicknm = "[[${session.userNicknm}]]";
    </script>
</th:block>
*/-->
<th:block th:replace="/fragments/footer.html :: thFooter"></th:block>
<script th:src="@{/js/qna/qnaDetail.js}"></script>
</body>
</html>