<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thHead(pageCss='/css/qna/qnaList.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">

<th:block th:replace="/fragments/header.html :: thHeader"></th:block>
<section>
    <div class="section-wrap">
        <form id="qnaListForm">
            <div class="pt80"></div>
            <div class="top-btn-box">
                <div class="left">Q&A</div>
               <select id="searchType">
                   <option value="T" th:selected="${#httpServletRequest.getParameter('searchType') == 'T'}">제목</option>
                   <option value="W" th:selected="${#httpServletRequest.getParameter('searchType') == 'W'}">작성자</option>
               </select>
               <input id="searchKeyword" type="text" placeholder="검색어를 입력해주세요." th:value="${#httpServletRequest.getParameter('searchKeyword')}">
               <button id="searchBtn" type="submit">검색</button>
           </div>
           <div class="mb10"></div>
           <table id="qnaTable" class="qa-table">
               <colgroup>
                   <col width="5%">
                   <col width="15%">
                   <col width="45%">
                   <col width="15%">
                   <col width="10%">
                   <col width="10%">
               </colgroup>
               <thead>
                   <tr>
                       <th>번호</th>
                       <th>분류</th>
                       <th>제목</th>
                       <th>작성자</th>
                       <th>작성일</th>
                       <th>답변</th>
                   </tr>
               </thead>
               <tbody>
               <th:block th:each="res, i : ${qnaList}">
                   <tr th:data-val="${res.idx}" th:classappend="${i.even} ? 'even'">
                       <td class="text-center" th:text="${#numbers.formatInteger(res.rn, 0)}">
                       </td>
                       <td class="text-center" th:text="${res.qaCategory == '' ? '질문' : res.qaCategory}">
                       </td>
                       <td class="flex">
                           <span th:text="${res.qaSubject}"></span>
                           <i class="fa fa-lock text-color-primary" th:if="${res.secretYn == 'Y'}"></i>
                       </td>
                       <td class="text-center" th:text="${res.createNicknm}"></td>
                       <td class="text-center" th:text="${#dates.format(res.createDate, 'yyyy. MM. dd.')}"></td>
                       <td class="text-center" th:text="${res.qaStatusCodeNm}" th:classappend="${res.qaStatus == 'A' || res.qaStatus == 'RA'} ? 'text-color-primary'"></td>
                   </tr>
               </th:block>
               <th:block th:if="${qnaList.size() == 0}">
                   <tr>
                       <td colspan="100%" class="text-center off">등록된 게시물이 없습니다.</td>
                   </tr>
               </th:block>
               </tbody>
           </table>
           <div class="mb5"></div>
           <div class="bot-btn-box">
               <div class="left">Total [[${#numbers.formatInteger(pageMaker.getTotal(), 0, 'COMMA')}]] Page [[${pageMaker.criteria.getPageNum()}]] / [[${pageMaker.getRealEnd() == 0 ? '1' : pageMaker.getRealEnd()}]]</div>
               <button id="qnaAdd" type="button" th:if="${@compareAuth.getAuth('USER')}">글쓰기</button>
           </div>
           <div class="mb50"></div>
           <th:block th:replace="/fragments/pagination :: pagination"></th:block>
        </form>
    </div>
</section>
<th:block th:replace="/fragments/footer.html :: thFooter"></th:block>
<script>

</script>
<script th:src="@{/js/qna/qnaList.js}"></script>
</body>
</html>