<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="/fragments/head.html :: thHead(pageCss='/css/qna/qnaUpdate.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<!--/*
<script>
    if (![[${@compareAuth.getAuth('USER')}]]) {
        alert("접근이 불가능한 페이지입니다.");
        window.history.back();
    }
</script>
*/-->
<th:block th:replace="/fragments/header.html :: thHeader"></th:block>
<section>

    <div class="section-wrap">
        <form id="qnaRegistForm">
            <div class="pt80"></div>
            <div class="top-btn-box">
                <div class="left">Q&A 질문</div>
                <span><input id="secretYn" type="checkbox"  checked/><label for="secretYn">비밀글</label></span>
                <span><input id="qaEmailRecvYn" type="checkbox"  checked/><label for="qaEmailRecvYn">답변 메일받기</label></span>
            </div>
            <div class="mb10"></div>
            <ul class="qna-ul">
                <li>
                    <label>분류</label>
                    <select id="qaCategory">
                        <th:block th:each="res : ${#strings.listSplit(qaCategoryList,';')}">
                            <option th:text="${res}" th:value="${res}"></option>
                        </th:block>
                    </select>
                </li>
                <li>
                    <label>제목</label>
                    <input id="qnaSubject" type="text">
                </li>
                <li th:if="${@compareAuth.getAuth(qaFileLevel)}">
                    <label><i class="fa fa-folder-open" aria-hidden="true"></i></label>
                    <div>
                        <input id="files" type="file" multiple>
                    </div>
                </li>
                <li>
                    <textarea id="qnaContent"></textarea>
                </li>
            </ul>
            <div class="mb5"></div>
            <div class="bot-btn-box">
                <button type="button" id="goList">목록</button>
                <button type="submit">작성</button>
            </div>
            <div class="mb100"></div>
        </form>
    </div>
</section>
<script>
    var editorLevel = [[${@compareAuth.getAuth(qaEditorLevel)}]];
</script>

<th:block th:replace="/fragments/footer.html :: thFooter"></th:block>
<script th:src="@{/js/qna/qnaUpdate.js}"></script>
</body>
</html>