@charset "utf-8";

.qna-box {
    padding: 20px 10px;
    border: 1px solid #ededed;
    margin-bottom: 40px;
}

.top-btn-box {
    width: 100%;
    text-align: right;
    min-height: 35px;
}

.top-btn-box .left {
    float: left;
    font-size: 24px;
    min-height: 40px;
}

.control-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    vertical-align: top;
    float: right;
}

.control-box > i {
    padding: 0 16px;
    color: #bababa;
}

.control-box > ul {
    position: absolute;
    top: 45px;
    right: -2px;
    background: #fff;
    border: 1px solid #b8bfc4;
    z-index: 999;
}

.control-box > ul:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #b8bfc4 transparent;
}

.control-box > ul:after {
    content: "";
    position: absolute;
    top: -6px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #fff transparent;
}

.control-box > ul li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    float: inherit;
    width: 90px;
    margin: 0;
    color: #6b757c;
    text-align: left;
    line-height: 15px;
}

.control-box > ul li button {
    width: 100%;
    border: 0;
    background: #fff;
    color: #6b757c;
    text-align: left;
}

.control-box > ul li i {
    float: right;
    line-height: 20px;
}

.top-btn-box div .qa-category {
    display: inline-block;
    line-height: 23px;
    font-size: 0.6em;
    background: rgba(98,191,164,0.1);
    padding: 0 10px;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 4px;
}

.qa-ul > li {
    width: 100%;
    padding: 10px 0;
}
.bot-btn-box {
    width: 100%;
    min-height: 36px;
    text-align: right;
}

.bot-btn-box > button {
    border: 0;
    color: #fff;
    background: #1fb1c7;
    padding: 7px 25px;
    vertical-align: top;
    min-height: 36px;
}

.bot-btn-box > button:not(:last-child) {
    margin-right: 5px;
    background: #d3d3d3;
}

.border-bot {
    border-bottom: 1px solid #eee;
}

.qna-info img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 10px;
}

.qna-info div {
    display: inline-block;
    width: calc(100% - 64px);
    padding: 4px 0;
}

.qna-info div p{
    font-size: 14px;
}

.board-content {
    min-height: 200px;
}

.board-on-p p {
    font-size: 14px;
    font-weight: 600;
}

.board-on p a {
    font-size: 14px;
    line-height: 12px;
    text-decoration: underline;
}

.board-on-btn {
    font-size: 14px;
    padding: 10px 0 0 0!important;
}

.board-on-btn button {
    width: 100%;
    text-align: left;
    font-weight: 600;
}

.board-on-btn button .board-more {
    float: right;
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-top: 2px;
    margin-right: 13px;
    background: url(../../img/common/btn_arrow.png) no-repeat right -8px;
}

.board-on-btn button.on .board-more {
    background: url(../../img/common/btn_arrow.png) no-repeat right 2px;
}

.board-on {
    padding:0!important;
}

/* 팝업관련 */
.popup-js-content table tbody tr.sel, .popup-js-content table tbody tr:hover {
    cursor: pointer;
    background: rgba(31,177,199,0.05);
    color: #1fb1c7;
}

/* 댓글관련 */
.board-comment .recomment-btn {
    display: block;
}


.board-comment > ul > li {
    width: 100%;
    font-size: 14px;
}

.board-comment ul > li.none {
    text-align: center;
    padding: 50px 0;
}


.comment-list {
    width: calc(100% - 40px);
    display: inline-block;
    padding: 15px 0 5px 0;
}

.comment-list img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 10px;
}

.comment-list > div {
    display: inline-block;
    width: calc(100% - 64px);
}

.comment-div, .recomment-div {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    position: relative;
}

.comment-update-div {
    width: calc(100% + 40px);
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    position: relative;
}

.comment-div .comment-btn-box, .recomment-div .recomment-btn-box , .comment-update-div .comment-update-btn-box{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.comment-div button, .recomment-div button, .comment-update-div button {
    color: #fff;
    padding: 7px 25px;
}

.comment-div button[type="submit"] {
    background: #1fb1c7;
}

.comment-div button[type="button"], .recomment-div button[type="button"], .comment-update-div button[type="button"] {
    background: #b4b4b4;
}

.comment-div textarea, .recomment-div textarea {
    overflow: hidden;
    border: none;
    background: #fff;
    color: #000;
    vertical-align: middle;
    padding: 10px 0;
    width: 100%;
    height: 59px;
    min-height: 62px;
    font-size: 14px;
    margin-bottom: 33px;
}

.comment-update-div textarea {
    overflow: hidden;
    border: none;
    background: #fff;
    color: #000;
    vertical-align: middle;
    width: 100%;
    height: 33px;
    min-height: 33px;
    font-size: 14px;
    padding: 6px 156px 6px 0;
}