@charset "utf-8";

.top-btn-box {
    width: 100%;
    text-align: right;
}

.top-btn-box .left {
    float: left;
    font-size: 24px;
    line-height: 40px;
}

.top-btn-box select, .top-btn-box input[type='text'] {
    padding: 6px;
    border: 1px solid #ededed;
    min-height: 36px;
    vertical-align: top;
    font-size: 14px;
}

.top-btn-box input[type='text']::placeholder {
    color: #999999;
}

.top-btn-box button {
    border: 0;
    color: #fff;
    background: #1fb1c7;
    padding: 7px 25px;
    vertical-align: top;
    min-height: 36px;
}

.qa-table {
    border-bottom: 1px solid #ededed;
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
    border-spacing: 0;
}

.qa-table tr.notice {
    background: rgba(31,177,199,0.05);
    color: #1fb1c7;
}

.qa-table tr.even {
    background: #fbfbfb;
}

.qa-table thead th {
    padding: 10px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    background: #ededed;
    color: #383838;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 1.5em;
}

.qa-table thead th {
    padding: 12px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    background: #ededed;
    color: #383838;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 21px;
}

.qa-table td {
    padding: 12px 5px;
    border-top: 1px solid #f3f3f3;
    line-height: 22px;
    word-break: break-all;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.qa-table td.flex {
   display: flex;
}

.qa-table td.flex span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 4px;

}

.qa-table td.flex i {
    right: -10px;
    margin-top: 5px;
    margin-left: 5px;
}

.qa-table tbody tr td:not(.off) {
    cursor: pointer;
}

.bot-btn-box {
    width: 100%;
    min-height: 36px;
    text-align: right;
}

.bot-btn-box .left {
    float: left;
    font-size: 12px;
    color: #999999;
}

.bot-btn-box > button {
    border: 0;
    color: #fff;
    background: #1fb1c7;
    padding: 7px 25px;
    vertical-align: top;
    min-height: 36px;
}