@charset "utf-8";

table .update-btn button {
    background: #1fb1c7;
    border: 1px solid #00a6bc;
    padding: 7px 0;
    width: 50px;
    color: #fff;
    border-radius: 5px;
}

table .remarks {
    font-size: 13px;
}

.admin-after {
    position: relative;
}

.admin-after:after {
    content: "관리자";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}