<!--/*
    thymeleaf 주석처리
*/-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<th:block th:replace="/fragments/head.html :: thAdmHead(pageCss='/css/adm/system/config.css')"></th:block>
<body ondragstart="return false" onselectstart="return false">
<th:block th:replace="/fragments/header.html :: thAdmHeader"></th:block>
<section>
    <div class="section-wrap">
        <h2>기본환경 설정</h2>
        <div class="mt40"></div>
        <form id="configForm">
            <div class="top-btn-box">
                <button type="submit">설정저장</button>
                <button type="button" id="cancelBtn">전체취소</button>
            </div>
            <div class="section-scroll">
                <div class="mb5"></div>
                <table class="table-top">
                    <caption>사이트</caption>
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="35%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>사이트 명</th>
                        <td><input type="text" id="homepageName" maxlength="15" placeholder="상단 사이트명입니다." th:value="${resultMap.homepageName}"></td>
                        <th>메뉴 스킨</th>
                        <td>
                            <input type="radio" name="mainSkinType" id="vertical" class="mr5" value="vertical"  th:checked="${resultMap.mainSkinType == 'vertical'}"><label for="vertical" class="mr10">세로</label>
                            <input type="radio" name="mainSkinType" id="horizontal" class="mr5" value="horizontal" th:checked="${resultMap.mainSkinType == 'horizontal'}"><label for="horizontal">가로</label>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div class="mb40"></div>
                <table class="table-top">
                    <caption>회원</caption>
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="35%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>비밀번호 초기화값</th>
                        <td colspan="3"><input type="text" id="resetPassword" maxlength="15" placeholder="초기화 될 유저 비밀번호입니다." th:value="${resultMap.resetPassword}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="mb40"></div>
                <table class="table-top">
                    <caption>QNA</caption>
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="30%">
                        <col width="5%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>Q&A 분류</th>
                        <td class="qa-category">
                            <th:block th:each="res : ${#strings.listSplit(resultMap.qaCategoryList,';')}">
                                <i>[[${res}]]<span th:data-val="${res}">×</span></i>
                            </th:block>
                        </td>
                        <th>Q&A 분류 추가</th>
                        <td><input id="qaCategory" type="text"></td>
                        <td class="update-btn"><button id="qaCategoryAdd" type="button">추가</button></td>
                    </tr>
                    <tr>
                        <th>Q&A 파일</th>
                        <td>
                            <select id="qaFileLevel">
                                <option value="USER" th:selected="${resultMap.qaFileLevel == 'USER'}">회원</option>
                                <option value="NONE" th:selected="${resultMap.qaFileLevel == 'NONE'}">사용안함</option>
                            </select>
                        </td>
                        <th>Q&A 에디터</th>
                        <td colspan="2">
                            <select id="qaEditorLevel">
                                <option value="USER" th:selected="${resultMap.qaEditorLevel == 'USER'}">회원</option>
                                <option value="NONE" th:selected="${resultMap.qaEditorLevel == 'NONE'}">사용안함</option>
                            </select>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</section>
<th:block th:replace="/fragments/footer.html :: thAdmFooter"></th:block>
<script th:src="@{/js/adm/system/config.js}"></script>
</body>
</html>